<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <targets>
    <target xsi:type="ColoredConsole" name="warn" errorStream="true" />
    <target xsi:type="ColoredConsole" name="debug" errorStream="false" />
  </targets>

  <rules>
    <logger name="Hit" writeTo="warn" />
    <logger name="*" writeTo="debug" />
  </rules>
</nlog>
